{% extends "base.html" %}
{% load productos %}

{% block sidebar %}
	{{ block.super }}
	{% categorias %}
{% endblock %}

{% block main %}
	<h1>Pedido de Compra</h1>
	{% if producto %}
	<p class="comments align-left clear">Ud. agreg&oacute; el siguiente producto al pedido</p>
	<p>
		<h2>{{producto.categoria}}</h2>
		<img src="{{MEDIA_URL}}{{producto.imagen}}" alt="{{producto}}" class="float-left" />
		<h3>{{producto}}</h3>
		<h4>U$S {{producto.precio}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="blue">(iva iclu&iacute;do)</span></h4>
	</p>
	{% endif %}
	{% if pedido %}
	<p class="comments align-left clear">Estado del pedido</p>
	<form action="/pedido/modificar/" method="post">		
	<table width="100%">
		<thead>
			<tr>
				<th>quitar</th>
				<th>cantidad</th>
				<th>producto</th>
				<th>precio</th>
				<th>importe</th>
			</tr>
		</thead>
        {% for item in pedido.items.values %}
			<tr class="{% cycle '' 'altrow' %}">
				<td class="align-center"><input type="checkbox" name="quitar_{{item.producto.id}}"/></td>
				<td class="align-center"><input type="text" value="{{item.cantidad}}" size="1" name="cantidad_{{item.producto.id}}"/></td>
				<td>{{item.producto.nombre}}</td>
				<td class="align-right">{{item.producto.precio|stringformat:"0.2f"}}</td>
				<td class="align-right">{{item.importe|stringformat:"0.2f"}}</td>
			</tr>
		{% endfor %}
		<tfoot>
			<tr>
				<th class="align-right" colspan="4">subtotal U$S</th>
				<th class="align-right">{{ pedido.subtotal|stringformat:"0.2f" }}</th>
			</tr>
		</tfoot>
	</table>
	<p class="comments align-right clear">
        <input type="submit" class="button" value="Actualizar"/>
        <input type="submit" class="button strong" value="Finalizar"/>
    </p>
	</form>
	{% else %}
	<p class="comments align-left clear">No hay pedido</p>
	{% endif %}
{% endblock %}