<link rel="stylesheet" href="{{ MEDIA_URL }}main.css" type="text/css" ></link>
<div id="wrap">

    <div id="top"></div>

    <div id="content">

        <div class="header">
            {% block header %}
            <h1><a href="#">Protopy is in the House</a></h1>
            <h2>...and doff too</h2>
            {% endblock %}
        </div>
    
        <div class="breadcrumbs">
            {% block breadcrumbs %}
            <a href="#">Inicio</a> tu estas aqui
            {% endblock %}
        </div>

        <div class="middle">
            {% block middle %}
            {% if sin_tablas %}
            <h2>NO HAY DATOS O NO HAY BASE DE DATOS</h2>
            
            Por favor cree una base de datos nueva, haciendo clic en el link correspondiente o <h2><a href="/syncdb/" onClick="return blog.handler.handle(this);">aqui</a></h2>
            <br /><br />
            {% endif %}
            {% endblock %}
        </div>
                        
        <div class="right">
            {% block right %}
            <h2><a href="/" onClick="return blog.handler.handle(this);">Inicio</a></h2>
            <h2><a href="/syncdb/" onClick="return blog.handler.handle(this);">Crear Base de Datos</a></h2>
            <h2><a href="/removedb/" onClick="return blog.handler.handle(this);">Eliminar Base de datos</a></h2>
            <h2><a id='google' href="http://www.google.com" onClick="return blog.handler.handle(this);">Google</a></h2>
	    {% if not sin_tablas %}
		<h2><a href="/blog/add_tag/" onClick="return blog.handler.handle(this);">Agregar Tag</a></h2>
		<h2><a href="/blog/add_post/" onClick="return blog.handler.handle(this);">Agregar Post</a></h2>
	    {% endif %}
	    {% endblock %}
        </div>

        <div id="clear"></div>

    </div>
</div>

<div id="footer">
    {% block header %}
    Design by <a href="http://www.minimalistic-design.net">Minimalistic Design</a>
    {% endblock %}
</div>