<link rel="stylesheet" href="{{ MEDIA_URL }}main.css" type="text/css">
<div id="wrap">

    <div id="top"></div>

    <div id="content">

        <div class="header">
            {% block header %}
            <h1><a href="#">Protopy is in the House</a></h1>
            <h2>...and doff too</h2>
            {% endblock %}
        </div>
    
        <div class="breadcrumbs">
            {% block breadcrumbs %}
            <a href="#">Inicio</a> tu estas aqui
            {% endblock %}
        </div>

        <div class="middle">
            {% block middle %}
            <h2>Posts</h2>
            
            Just to fill out empty space in the template I decided to write this and to add one of my previous templates
            here. There are direct links to view one of my previous templates live and live link to download it also ;) 
            Anyway hope you like both this one and previous one. You can see all of my templates at 
            <a href="http://www.minimalistic-design.net">Minimalistic design</a> live.
            <br /><br />
            <img src="images/minimal.jpg" alt="Preview of Minimalistic Template" />
            {% endblock %}

        </div>
                        
        <div class="right">
            {% block right %}
            <h2><a href="/" onClick="return blog.handler.handle(this);">Inicio</a></h2>
            <h2><a href="/syncdb/" onClick="return blog.handler.handle(this);">Crear Base de Datos</a></h2>
            <h2>Tags</h2>
                <ul>
                    <li><a href="/blog/add_tag/" onClick="return blog.handler.handle(this);">Agregar</a></li>
                    <li><a href="/blog/remove_tag/" onClick="return blog.handler.handle(this);">Eliminar</a></li>
                </ul>
            <h2>Posts</h2>
                <ul>
                    <li><a href="/blog/add_post/" onClick="return blog.handler.handle(this);">Agregar Post</a></li>
                </ul>
	   {% endblock %}
        </div>

        <div id="clear"></div>

    </div>

    <div id="bottom"></div>

</div>

<div id="footer">
    {% block header %}
    Design by <a href="http://www.minimalistic-design.net">Minimalistic Design</a>
    {% endblock %}
</div>