{% extends "listado.html" %}
	{#
nombre = models.CharField(max_length = 50)
    descripcion = models.CharField(max_length = 500)
    categoria = models.ForeignKey(Categoria, blank = True)
    provisto_por = models.ManyToManyField(Proveedor)
    precio_uniatario = models.DecimalField(default = 0.0, max_digits = 5, decimal_places = 3)
#}

	{% block table_heading %}
		<th>Nombre</th><th>Descripcion</th><th>Categoria</th><th>Proveedor</th><th>Precio</th>
	{% endblock %}

	{% block item_iteration_row %}
		<td>{{ item.nombre }}</td>
		<td>{{ item.descripcion }}</td>
		<td>{{ item.categoria }}</td>
		<td>{% if not item.provisto_por.count %}
				<i>Sin proveedor</i>
			{% else %}
				{% for p in item.provisto_por.all %}
					<a href="{{ p.get_absolute_url}}">{{p}}</a>{% if not forloop.last %},&nbsp;{% endif %}
				{% endfor %} 
			{% endif %}
			</td>
		<td>${{ item.precio_uniatario }}</td>
  	{% endblock %}
  	
 