syntax: glob
.pydevproject
.project
*.aux
*.bbl
*.blg
*.brf
*.lof
*.log
*.lot
*.out
*.toc
*.prefs
*.pyc
*.pyo
.directory
*.h
*.c
*.cpp
*.svn*
*.glo
*.ist
*.orig
bundle*
*bundle
# La salida de sphinx
docs/_build/*
docs/_svg/*.png
doffproj/static/doffproj_offline/*
informe/*
# Virutalenv para probar sphinx
sphinx-env/*
build/*
*.bak
chiron/*
*.swp
pres/*.png
docs/_dot/*
*.nav
*.snm
*.gif


# Aplicacion de demostracion
sources/offline_demo/static/devkit/*
sources/offline_demo/static/*.zip
sources/offline_demo/static/*.txt
*.dot
*.info

docs/sphinx-ref/*

syntax: regexp
^nbproject
^.*~$
.*\#$

syntax: regexp
^protopy-doff\.zip$
