<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : EarthlingTwo  
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20090918
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="unpluggable-django-app" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% if title %}{{ title }}{%else%}Vendedor Viajante{%endif%}</title>
<link href="/static/style.css" rel="stylesheet" type="text/css" media="screen" />

    {% load offline_support %}
    {% protopy_js %}
    {% offline_detect "agentes" %}
    <style type="text/css">
    {% block extra_style %}
    {% endblock %}
    </style>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <h1><a href="#">Tesina de grado</a></h1>
        </div>
    </div>
    <!-- end #header -->
    <div id="menu">
        <ul>
            {% block main_menu %}
            <li class="page_item" ><a href="/inicio">Inicio</a></li>
            <li class="page_item" ><a href="/ventas">Vendedores</a></li>
            {% if not offline %}
            <li class="page_item" ><a href="/compras">Proveedores</a></li>
            <li class="page_item" ><a href="/finanzas">Contadores</a></li> 
            {% endif %}
            {% endblock %}
        </ul>
    </div>
    <!-- end #menu -->
    <div id="page">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
            {% block sidebar %}
            {% endblock %}
        </div>
        <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #page -->
</div>
<div id="footer-content">
</div>
<div id="footer">
    <p> (c) 2009 Sitename.com. Design by <a href="http://www.nodethirtythree.com">nodethirtythree</a> and <a href="http://www.freecsstemplates.org">Free CSS Templates</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>

<script type="text/javascript">
    require('sys');
    var items = $$('.page_item');
    var href = sys.window.location.href;
    for each (var item in items)
        if(item.firstChild.nodeName == "A" && href.startswith(item.firstChild.href))
            item.addClassName("current_page_item");
</script>