<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load offline_support %}
<head>
	<meta name="Description" content="Underground Store." />
	<meta name="Keywords" content="hardware" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" href="{{MEDIA_URL}}style/underground.css" type="text/css" />			
	<title>Underground Store</title>	
{% protopy_js %}
{# offline_detect "agentes" #}
</head>
<body>
<!-- wrap starts here -->
<div id="wrap">

		<!-- header -->
		<div id="header">			
					
			<span id="slogan">Aplicaciones Web Desconectadas</span>
			
			<!-- tabs -->
			<ul id="tabs" >
				<li><a href="/"><span>Inicio</span></a></li>
				<li><a href="/catalogo/"><span>Catalogo</span></a></li>
				<li><a href="/pedidos/"><span>Pedidos</span></a></li>
				{% if user.is_authenticated and user.is_staff %}
				<li><a href="/administrar/"><span>Administrar</span></a></li>
				{% if not offline %} 
					<li><a href="/off/agentes/"><span>Desconectar</span></a></li>
				{% endif %}
				{% endif %}
				<li><a href="#"><span>Contacto</span></a></li>
			</ul>									
		</div>
		
		<div id="header-logo">			
			
			<div id="logo">Vendedor<span class="blue">Viajante</span></div>		
			<form method="post" class="search" action="/catalogo/buscar/">
				<p><input name="quicksearch" class="textbox" type="text" />
  				<input name="search" class="searchbutton" value="Search" type="submit" /></p>
			</form>
		</div>
		
		<div id="sidebar" >
		{% block sidebar %}
			
			{% if user.is_authenticated %}
			<h1>{%if user.is_staff %}Vendedor {% endif %}{{ user.username }} <a class="blue align-right" href="/logout/">Salir</a></h1>
			{% else %}
			<h1>Usuario</h1>
			<div class="left-box">
			<form action="/login/" method="post">
				<p>
					<label>Nombre</label>
				   	<input type="text" name="username"/>
				</p>
				<p>
					<label>Clave</label>
					<input type="password" name="password"/>
              	</p>
              	<p class="align-center">
                	<input name="login" value="Ingresar" type="submit" />
                </p>
			</form>
			</div>
			{% endif %}
			
			{% if current_pedido %}
			<h1>Pedido en curso</h1>
			<div class="left-box">
				<p>{{current_pedido.productos}} productos, U$S {{current_pedido.subtotal}}</p>
				<h3 class="align-center"><a href="/pedido/modificar/" class="blue">Editar</a></h3>
			</div>
			{% endif %}
					
			{% comment %}
			<h1>Enlaces</h1>
			<div class="left-box">
				<ul class="sidemenu">
					<li>
						<a href="/core/pais">Pais</a>
						<a href="/core/pais/add">+</a>
					</li>
					<li>
						<a href="/core/producto">Producto</a>
					    <a href="/core/producto/add">+</a>
					</li>
					<li>
                        <a href="/core/categoria">Producto</a>
                        <a href="/core/categorias/add">+</a>
                    </li>
                    <li>
                        <a href="/core/cliente">Cliente</a>
                        <a href="/core/cliente/add">+</a>
                    </li>					
				</ul>	
			</div>
			
			
			<h1>Documentacion del Proyecto</h1>
			<div class="left-box">
				<p>&quot;Big men and big personalities make mistakes and admit them.
				 It is the little man who is afraid to admit he has been wrong&quot;</p>
				
				<p class="align-right">- Dr. Maxwell Maltz</p>
			</div>	
			
			<h1>Support Styleshout</h1>
			<div class="left-box">
				<p>If you are interested in supporting my work and would like to contribute, you are
				welcome to make a small donation through the 
				<a href="http://www.styleshout.com/">donate link</a> on my website - it will 
				be a great help and will surely be appreciated.</p>
			</div>		
		  {% endcomment %}
		{% endblock %}
		</div>		
		
							
		<div id="main">				
			{% block main %}
			{% endblock %}							
		</div>			
		
<!-- wrap ends here -->
</div>
		
<!-- footer starts here -->
<div class="footer">
<p>
	&copy; 2009 <strong>Defoss&eacute; Nahuel - van Haaster, Diego Marcos</strong> &nbsp;&nbsp;	 
	Design by: <a href="http://www.styleshout.com/">styleshout</a> | 
	Valid <a href="http://validator.w3.org/check/referer">XHTML</a> |
    <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
</p>		
</div>
<script type="text/javascript">
	require('sys');
	var items = $$('#tabs > li');
	var href = sys.window.location.href;
	var current = items.shift();
	for each (var item in items) {
		if(item.firstChild.nodeName == "A" && href.startswith(item.firstChild.href) && len(current.firstChild.href) < len(item.firstChild.href))
			current = item;
	}
	current.addClassName("current");
</script>
</body>
</html>
