{% extends "base.html" %}

{% block extra_style %}
	form input, form button {
		padding: 4px;
		border: 1px solid red;
		
	}

{% endblock %}

{% block main %}

	<h3>Está seguro de que desea eliminar {{ object }}?</h3>
	<form action="" method="POST">
		<input type="submit" name="confirm" value="Sí">
		<button id="cancel">Cancelar</button>
	</form>
	<script>
		(function () {
			require('sys');
			require('event');
			event.connect(sys.window, 'load', function (){
				event.connect($$('#cancel')[0], 'click', function (e){
					event.stopEvent(e);
					window.location='../..';
				});
			});
			
			
			
			
		})();
	
	</script>
{% endblock %}