{% extends "base.html" %}

{% block extra_style %}

#links  {
    padding: 3px;    
}

ul  {
    list-style-type: none;
    background: #6598FF;
    list-style-display: none;
}

ul li {
    border-left: 4px solid #222;
    margin-bottom: 2px;
    border-right: 1px dashed #222;
    border-bottom: 1px dashed #222;
    border-top: 1px solid #222;
}
       
ul li p {
	padding: 0px; margin: 0px; padding-left: 20px;
	font-size: 13px;	
}

p a.nuevo, p a.lista{
	display: box;
	padding-left: 18px;

}

ul li {
	
}      
{% endblock %}

{% block content %}
<h2>Sitio de demostración</h2>
<div id="links">
	<ul>
		<li><a href="/admin/">Sitio de administración</a></li>
		<li><a href="/ventas/">Ir a la aplicación <u>desconectable</u></a></li>
	</ul>
	
    
</div>
{% endblock %}