{% extends "base.html" %}
{% load productos %}

{% block sidebar %}
	{{ block.super }}
	<h1>Cita del D&iacute;a</h1>
	<div class="left-box">
		<p>"No podemos resolver los problemas usando el mismo tipo de pensamiento que usamos cuando se crearon."</p>
		<p class="align-right">- Albert Einstein</p>
	</div>	
{% endblock %}

{% block main %}
	<h1>Nuevas sucursales</h1>
		<p>Señores clientes tenemos el agrado de comunicarles que a partir del
		<strong>15 de Septiembre de 2009</strong> se encuentran a su
		disponibilidad dos nuevas sucursales en la provincia de 
		<strong><a href="http://www.chubut.gov.ar/">Chubut</a></strong> y 
		<strong><a href="http://www.santacruz.gov.ar/">Santa Cruz</a></strong>; 
		con esta importante incorporación la empresa expande sus
		fronteras comerciales al cono sur, brindando como siempre un mejor
		servicio y atención personalizada.</p>
	
	<h3>Proverbio indio</h3>
	<blockquote>
		<p>La Tierra no es una herencia de nuestros padres, sino un préstamo de nuestros hijos.</p>
		<p class="align-right">- Wikiquote</p>
	</blockquote>
	{% if offline %}
	<h3>Amigo vendedor</h3>
		<p>Recuerde antes de desconectarse del sistema en línea</p>
		<ul>
			<li>Instalar correctamente Protopy y Doff</li>
			<li>Sincronizar el catalogo</li>
			<li>Buen viaje!!!</li>								
		</ul>
	{% endif %}
{% endblock %}