{% extends "base.html" %}

{% load productos %}

{% block sidebar %}
	{{ block.super }}
	{% categorias %}
{% endblock %}

{% block main %}
	{% for categoria in categorias %}
	<a name="{{categoria}}"></a>
	<h1>{{categoria}}</h1>
		{% for producto in categoria.producto_set.all %}
			<p>
				{% if user.is_authenticated %}
				<a href="/pedido/agregar/{{producto.id}}/">
				{% endif %}
					<img src="{{MEDIA_URL}}{{producto.imagen}}" alt="{{producto}}" class="float-left" />
					<h3>{{producto}}</h3>
				{% if user.is_authenticated %}
				</a>
				{% endif %}
				<span>{{producto.descripcion}}</span>
				<h4>U$S {{producto.precio}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="blue">(iva iclu&iacute;do)</span></h4>
			</p>
			<p class="comments align-right clear">
				{% if user.is_authenticated %}
				<a href="/pedido/agregar/{{producto.id}}/">Comprar</a> :
				{% endif %}
				<span class="blue">Preguntas</span> :
				<span class="blue">Detalles</span>
			</p>
		{% endfor %}
	{% endfor %}
{% endblock %}