{% extends "base.html" %}
{% load productos %}

{% block sidebar %}
	{{ block.super }}
	{% categorias %}		
{% endblock %}

{% block main %}
<h1>Pedidos de {{ user.last_name }}, {{ user.first_name }}</h1>
<table class="item-list">
<thead><tr><th>Número</th><th>Fecha</th><th>Cliente</th><th>Cant. Ítems</th></tr></thead>
<tbody>
	{% for item in object_list %}
	<tr class="{% cycle '' 'altrow' %}">
		{% block item_iteration_row %}
		  	<td>{{ item.pk }}</td><td>{{ item.fecha }}</td><td>{{ item.cliente }}</td><td>{{ item.itempedido_set.count }}</td>
	  	{% endblock %}  	
	</tr>
  	{% endfor %}
</tbody>
</table>
{% endblock %} 

	
  	
 