div#toolbar {
    font-family: "Trebuchet MS" Verdana, Arial, sans-serif;
    font-size: 1em;
    width: 90%;
    height: 20px;
    position: fixed;
    bottom: 0px;
    margin-left: 5%;
    background: #EEEEEE;
    text-align: left;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    font-size: 14px;
    background-color: #CCC;
}

div#toolbar div.panel {
    background: #EEEEEE;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    font-weight: bold;
    text-indent: 15px;
    position: fixed;
    bottom: 20px;
    margin-left: 5%;
    padding-top: 16px;
}

div#toolbar div.panel h1.header {
    background-color: #3A4856;
    color: #FFFFFF;
    font-size: 12pt;
    font-weight: bold;
    padding: 4px;
    margin: 4px;
    position: relative;
    vertical-align: middle;
}

div#toolbar div.panel h1.header img {
    float: right;
    margin-right: 4px;
    margin-top: -19px;
    margin-bottom: 2px;
}

div#toolbar div.panel div.content {
    text-indent: 0;
    margin: 4px;
    position: relative;
    vertical-align: middle;
}


div#toolbar ul {
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    margin: 0px;
    padding: 4px;
    height: 29px;
    background-color: #CCC;
}

div#toolbar ul li {
	border: 0px;
    border-right: 1px solid #888888;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 70%;
    display: inline;
    color: #112ABB;
    text-decoration: underline;
    cursor:pointer;
}

div#toolbar ul li:last-child {
    border-right: none;
}