/* v1.0 | 20080212 */

div#doff-toolbar {
    font-family: arial, sans-serif;
    font-size: 1em;
    padding: 1px;
    width: 90%;
    height: 25px;
    position: fixed;
    bottom: 0px;
    margin-left: 5%;
    background: #EEEEEE;
    text-align: left;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

div#doff-toolbar div.doff-panel {
    background: #EEEEEE;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    font-weight: bold;
    text-indent: 15px;
    position: fixed;
    bottom: 27px;
    margin-left: 5%;
    -moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}

div#doff-toolbar div.doff-panel .doff-panel-button {
	background: #E3E3E3 none repeat scroll 0 0;
	border-left:1px solid #BBBBBB;
	border-right:1px solid #AAAAAA;
    border-bottom:1px solid #AAAAAA;
	border-top:1px solid #BBBBBB;
    margin: 5px;
	padding: 3px;
	text-decoration: none;
	-moz-border-radius: 5px;	
}

div#doff-toolbar div.doff-panel h1.doff-panel-header {
    background-color: #3A4856;
    color: #FFFFFF;
    font-size: 12pt;
    font-weight: bold;
    padding: 4px;
    margin: 4px;
    position: relative;
    vertical-align: middle;
    -moz-border-radius: 5px;
}

div#doff-toolbar div.doff-panel h1.doff-panel-header img {
    float: right;
    margin-right: 4px;
    margin-top: 3px;
}

div#doff-toolbar div.doff-panel div.doff-panel-content {
    text-indent: 0;
    margin: 4px;
    position: relative;
    vertical-align: middle;
}


div#doff-toolbar ul.doff-toolbar-bar {
    background: #EEEEEE;
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    margin: 0px;
    height: 29px;
    line-height: 100%;
    padding: 6px 0px 0px 0px;
}

div#doff-toolbar ul.doff-toolbar-bar li.doff-toolbar-item {
    border-style: none;
    border-right: 1px solid #888888;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    font-size: 90%;
    display: inline;
    color: #112ABB;
    cursor: pointer;
}

div#doff-toolbar ul.doff-toolbar-bar li.doff-toolbar-item:hover {
    text-decoration: underline;
}

div#doff-toolbar ul.doff-toolbar-bar li.doff-toolbar-item:last-child {
    border-right: none;
}