{% extends "listado.html" %}

	{% block table_heading %}
		<th>Nombre</th><th>Proveedor</th><th>Precio</th>
	{% endblock %}

	{% block item_iteration_row %}
		<td>{{ item.nombre }}</td>
		<td>{% if not item.provisto_por.count %}
				<i>Sin proveedor</i>
			{% else %}
				{% for p in item.provisto_por.all %}
					<a href="{{ p.get_absolute_url}}">{{p}}</a>{% if not forloop.last %},&nbsp;{% endif %}
				{% endfor %} 
			{% endif %}
			</td>
		<td>U$S {{ item.precio|stringformat:"0.2f" }}</td>
  	{% endblock %}
  	
 