<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  <title>Protopy JavaScript Library</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="{{ MEDIA_URL }}style/stormy_day.css" type="text/css">
<style type="text/css">
      div#category_box_wrapper {
        display: none;
      }
      div#content-inner {
        padding: 0 0 10px 0;
      }
    </style> </head><body>
<div id="header">
    <div id="header-inner">
        <div id="protopylogo">
            <h1 id="protopytext"><a href="http://www.protopy.com.ar/">Protopy</a></h1>
        </div>
    </div>
</div>

<ul id="navbar">
   <li><a href="http://dev.deluge-torrent.org/wiki/About">About</a></li>
   <li><a href="http://dev.deluge-torrent.org/wiki/Download">Download</a></li>
   <li><a href="http://forum.deluge-torrent.org/">Community</a></li>
   <li><a href="http://dev.deluge-torrent.org/">Development</a></li>
   <li><a href="http://dev.deluge-torrent.org/wiki/Faq">FAQ</a></li>
   <li><a href="http://forum.deluge-torrent.org/">Documentación</a></li>
   <li><a href="http://forum.deluge-torrent.org/">OnLine Demo</a></li>
</ul>

<div id="content">
{% block content %}

{% endblock %}
</div>
<div id="copyright-container">
    <div id="copyright">
        <br>2009<br> Template from <a href="http://lifecodeidiocy.enanocms.org/">Dan Fuhry</a><br> <br>
    </div>
</div>
</body>
</html>