{% extends "base.html" %}
{% block content %}
<div id="content-inner">
	<div id="ajaxEditContainer">
	    <p></p>
	    <table border="0" width="100%">
	        <tbody><tr>
	            <td style="border-right: 1px solid rgb(72, 93, 115); width: 50%; padding-right: 10px;">
	                <div style="white-space: nowrap;">
	                    <span style="font-family: verdana,arial,helvetica,sans-serif; font-size: 36pt; font-weight: bold;"> Protopy </span> <span style="font-family: verdana,arial,helvetica,sans-serif; font-size: 16pt; font-weight: bold; color: rgb(255, 255, 255);"> 0.8_beta1</span>
	                </div>
	                <div> 
	                    <table border="0"><tbody><tr> <td style="padding-right: 10px;"><a href="http://deluge-torrent.org/downloads.php"><img src="Deluge%20BitTorrent%20Client_files/deluge-download.gif" border="0"></a></td> <td id="deluge_download_box"><big><b><a href="http://deluge-torrent.org/downloads.php">Download now</a></b></big><br> Available for Linux.</td> </tr> <tr> <td colspan="2" align="right"><a href="http://dev.deluge-torrent.org/wiki/ChangeLog">Changelog</a> <a href="http://dev.deluge-torrent.org/wiki/ReleaseNotes/1.2.0_rc3">Release Notes</a></td> </tr> </tbody></table>
	                </div>
	            </td>
	            <td style="padding-left: 10px;"> 
	                <h2>¿Que es Protopy?</h2>
	                <p>Protopy es una biblioteca <b>Open Source</b> en JavaScript para el desarrollo de aplicaciones web dinámicas.</p>
	                <p>Basada en <b>Python</b>, aporta un enfoque modular para la inclusión de código, orientación a objetos, manejo de AJAX, DOM y eventos.</p>
	                <a href="http://dev.deluge-torrent.org/wiki/About">Ver más</a>
	                <h2>¿Que es Doff?</h2>
	                <p>Protopy es una biblioteca <b>Open Source</b> en JavaScript para el desarrollo de aplicaciones web dinámicas.</p>
	                <p>Basada en <b>Python</b>, aporta un enfoque modular para la inclusión de código, orientación a objetos, manejo de AJAX, DOM y eventos.</p>
	                <a href="http://dev.deluge-torrent.org/wiki/About">Ver más</a>
	                <h2>¿Que es RemoteSite?</h2>
	                <p>Protopy es una biblioteca <b>Open Source</b> en JavaScript para el desarrollo de aplicaciones web dinámicas.</p>
	                <p>Basada en <b>Python</b>, aporta un enfoque modular para la inclusión de código, orientación a objetos, manejo de AJAX, DOM y eventos.</p>
	                <a href="http://dev.deluge-torrent.org/wiki/About">Ver más</a>
	            </td>
	        </tr>
	        </tbody>
	    </table>
	    <p></p> 
	</div>
</div>
{% endblock %}